
.container-gap {
    margin-bottom: 20px; /* adjust this value to increase or decrease the gap */
}

.container-gap-top{
    margin-top: 20px;
}

.list-gap {
    margin-bottom: 5px;
}

.question-gap {
    margin-bottom: 10px;
}

.list-p{
    padding: 0;
}

.nav-border{
    border-bottom: 0.5px rgb(226, 229, 230) solid;
}

.back-next {
    display: flex;
    justify-content: space-around;
}

.btn-back{
    width: 100%;
    background-color:rgb(194, 196, 201);
    border: none;
    margin-right: 5px;
    border-radius: 3px;
    padding: 5px 5px;
}

.btn-next{
    width: 100%;
    background-color:beige;
    border: none;
    margin-left: 5px;
    border-radius: 3px;
    padding: 5px 5px;
}

.firstBox{
    min-height: 292px;
}

.btn-hayden-link{
    border: 1px solid black;
}

.home-icon{
    height:201px;
}

a {
    touch-action: manipulation;
  }

