
.container-gap {
    margin-bottom: 20px; /* adjust this value to increase or decrease the gap */
}

.container-gap-top{
    margin-top: 20px;
}

.list-gap {
    margin-bottom: 5px;
}

.question-gap {
    margin-bottom: 10px;
}

.list-p{
    padding: 0;
}

.nav-border{
    border-bottom: 0.5px rgb(226, 229, 230) solid;
}

.back-next {
    display: flex;
    justify-content: space-around;
}

.btn-back{
    width: 100%;
    background-color:rgb(194, 196, 201);
    border: none;
    margin-right: 5px;
    border-radius: 3px;
    padding: 5px 5px;
}

.btn-next{
    width: 100%;
    background-color:beige;
    border: none;
    margin-left: 5px;
    border-radius: 3px;
    padding: 5px 5px;
}

.firstBox{
    min-height: 292px;
}

.btn-hayden-link{
    border: 1px solid black;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

@media all and (display-mode: standalone) {
    .install-btn{
        visibility: hidden;
    }
}

.question-text {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}

.question-description {
    margin-bottom: 10px;
    color: #555;
    font-size: 1rem;
}

.form-check {
    margin-bottom: 30px;
}

#diff-container h3 {
    color: #333;
    margin-bottom: 10px;
}

.diagnosis-item {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: black;
}

.high-probability {
    background-color: #4CAF50; /* Green for high probability */
}

.moderate-probability {
    background-color: #FFC107; /* Amber for moderate probability */
}

.low-probability {
    background-color: #F44336; /* Red for low probability */
}
